Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: Martin Kaufmann <martinkaufmann@tuta.io>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
